* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans",sans-serif;
}

body {
    height: 100svh;
}

:root{
    font-size: 62.5%;
    --white: #FFF;
    --smoky-black:#0C0200;
    --licore:#241816;
    --van-dyke: #463937;
    --blue: #2760B9;
    --lavender-blush:#F7EDF0;
    --orange:#f88325;
}