@import "./css/global.css";
@import "./css/header.css";

body {
    height: 150svh;
}

main {
    display: flex;
    flex-direction: column;
    height: calc(150svh - 10rem);
    color: var(--white);
    justify-content: top;
    align-items: center;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/main-bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
}

.titulo h1 {
    color: var(--lavender-blush);
    text-align: center;
    margin-bottom: 2.4rem;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 2rem;
}

.titulo h1 span {
    color: var(--lavender-blush);
    letter-spacing: 0;
}


.titulo p {
    color: var(--lavender-blush);
    font-size: 1.4rem;
    max-width: 48rem;
    margin-inline: auto;
    text-align: center;
}

.paginas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(155deg, var(--licore) 50% , var(--smoky-black) 50%);
    height: 50%;
    width: 100%;
}

.paginas h2 {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 5rem;
}

.pagina-botoes {
    display: flex;
    gap: 10rem;
}

.pagina-botoes a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30rem;
    width: 25rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 15px solid var(--van-dyke);
    
    color: var(--lavender-blush);
    font-size: 30px;
    transition: .2s;
}
.pagina-botoes span {
    background-size: 1rem;
    padding: 1rem;
    font-size: 4rem;
    font-weight: 600;
}

.historia {
    background: url(./images/suica4.jpg);
} 
.pontos {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./images/suica3.webp);
}
.cultura {
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url(./images/suica.jpg);
    background-position: bottom;
}

.pagina-botoes img {
    width: 100%;
    height: 100%;
}

.pagina-botoes a:hover{
    transform: scale(110%);
    transition: .2s;
    box-shadow: 0px 0px 20px var(--aqua-green);
    text-shadow: 0 0 10px;
}